.page{
	height: 100%;
	display: flex;
	flex-direction: column;
}

.logo{
	flex: 6;
}

.centerFlex{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.buttonsDiv{
	flex: 4;
}

.googleLogin{
	margin-top: 32px;
}