.page{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.stage{
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 100%;
	bottom: 0px;
	outline: 0px;
}

.score{
	position: absolute;
	z-index: 2;
	text-align: center;
	width: 100%;
	top: 5%;
	pointer-events: none;
	user-select: none;
}

.fab{
	position: absolute;
	will-change: opacity;
	transition-property: opacity;
	transition-duration: 300ms;
	opacity: 0;
	z-index: 3;
	bottom: 10%;
	right: 5%;
}

.fab.appear{
	opacity: 1;
}